PORT=3002
DRIZZLE_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/receh
NEXT_PUBLIC_APP_NAME=Receh
NEXT_PUBLIC_APP_URL=http://localhost:3002
NEXT_PUBLIC_STELLAR_NETWORK=testnet
SESSION_SECRET=change-me-with-a-random-32-character-string
STELLAR_NETWORK=testnet
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VAULT_ADDRESS=GBL5RJKF4QNJ4ZPLJZ7PS7K5A4J44VEZJRV2CRTFFDRVSY2N76AIIE47
VAULT_SECRET_KEY=SDL4SWRGFBZ5XBB5EORL3BHLUSETFBVVQ6OIESURFR7D4BFQQJKMJI3P
USDC_ASSET_CODE=USDC
USDC_ASSET_ISSUER_TESTNET=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5
DEMO_MODE=false